# line endings to LF
* text=auto eol=lf

# text files
*.py    text eol=lf
*.toml  text eol=lf
*.md    text eol=lf

# binary - no diffs
*.png   binary
*.jpg   binary
*.jpeg  binary
*.bmp   binary
*.tiff  binary
*.webp  binary
